.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 5;
  width: 25px;
  height: 25px;
  color: var(--gray-500);
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
}

.swiper-button-prev {
  left: -5px;
}

.swiper-button-next {
  right: 10px;
}
