@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";
@import "../styles/theme.css";

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.scollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* 랭킹 */

.selected {
  background-color: var(--primary-600);
  color: white;
  border: 1px solid var(--primary-600);
}
.not-selected {
  background-color: white;
  color: black;
  border: 1px solid var(--gray-100);
}
